body {
    background-color: #CC6699;
}
.dynamic {
    width: 280px;
    height: 430px;
    border-radius: 5px;
    border: 1px hidden #000000;
    box-shadow: 0px 0px 60px -1px rgba(0, 0, 0, 0.54);
    margin-top: 15px;
}
ul {
    padding: 0;
}
li {
    display: inline-flex;
    list-style: none;
    margin-left: 3px;
}
.oval {
    display: block;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid white;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrapper__buttons {
    margin-top: 15px;
}
p {
    text-align: center;
    font-size: 4em;
    margin: 0;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
p a {
    color: #FFDD1B;
    font-family: Pacifico;
}
p a:hover {
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate;
}
p a:hover {
    color: #ffffff;
}
@-webkit-keyframes neon3 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
}
@keyframes neon3 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
}
@media (max-width: 650px) {
    p {
        font-size: 3.5em;
    }
}
